<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="Kode is a Premium Bootstrap Admin Template, It's responsive, clean coded and mobile friendly">
<meta name="keywords" content="bootstrap, admin, dashboard, flat admin template, responsive," />
<title>Admin - User</title>

<!-- ========== Css Files ========== -->
<%- include('layouts/head') %> 

</head>
<body>
    <!-- Start Page Loading -->
    <%- include('layouts/loading') %> 
    <!-- End Page Loading -->

    <!-- START TOP -->
    <%- include('layouts/header') %> 
    <!-- END TOP -->

    <!-- START SIDEBAR -->
    <%- include('layouts/sidebar') %> 
    <!-- END SIDEBAR -->
    
    <%- include('layouts/notification') %> 

    <!-- START CONTENT -->
    <div class="content">

        <!-- Start Page Header -->
        <div class="page-header">
            <h1 class="title">Thêm user</h1>
            <ol class="breadcrumb">
                <li><a href="/admin/dashboard">Trang chủ</a></li>
                <li class="active">Thêm user</li>
            </ol>

            <!-- Start Page Header Right Div -->
            <div class="right">
                <div class="btn-group" role="group" aria-label="...">
                    <a href="/admin/user" class="btn">Quay lại</a>
                </div>
            </div>
            <!-- End Page Header Right Div -->

        </div>
        <!-- End Page Header -->

        <div class="container-flush">
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default">

                        <div class="panel-title">
                            Thông tin tag
                            <ul class="panel-tools">
                                <li><a class="icon expand-tool"><i class="fa fa-expand"></i></a></li>
                            </ul>
                        </div>
                
                        <div class="panel-body">
                            <form 
                                action="<%- id? '/admin/user/update' : '/admin/user/create' %>" 
                                method="post" 
                            >
                                <input type="hidden" name="id" value="<%- id %>">
                                <div class="form-group">
                                    <label for="input1" class="form-label">Tên đầy đủ</label>
                                    <input type="text" class="form-control" name="full_name" placeholder="Tên đầy đủ" value="<%- user.profile && user.profile.full_name %>" required>
                                </div>
                                <div class="form-group">
                                    <label for="input1" class="form-label">Bút danh</label>
                                    <input type="text" class="form-control" name="username" placeholder="Bút danh" value="<%- user.profile && user.profile.username %>" minlength="6">
                                </div>
                                <div class="form-group">
                                    <label for="input1" class="form-label">Email</label>
                                    <input type="email" class="form-control" name="email" placeholder="Email" value="<%- user.email %>" required <%- user.email && 'readonly' %>>
                                </div>
                                <div class="form-group">
                                    <label for="input1" class="form-label">Mật khẩu</label>
                                    <input type="password" class="form-control" name="password" placeholder="Mật khẩu" <%- !user._id && 'required' %> minlength="6">
                                </div>
                                <div class="form-group">
                                    <label for="input1" class="form-label">Xác nhận mật khẩu</label>
                                    <input type="password" class="form-control" name="password_confirm" placeholder="Xác nhận mật khẩu" <%- !user._id && 'required' %> minlength="6">
                                </div>
                                <div class="form-group">
                                    <label class="form-label">Giới tính</label>
                                    <select class="form-control selectpicker" name="gender">
                                        <option value="men" <%- user.profile && user.profile.gender === 'men' && 'selected' %>>Nam</option>
                                        <option value="women" <%- user.profile && user.profile.gender === 'women' && 'selected' %>>Nữ</option>
                                        <option value="third" <%- user.profile && user.profile.gender === 'third' && 'selected' %>>Khác</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label class="form-label">Trạng thái</label>
                                    <select class="form-control selectpicker" name="status">
                                        <option data-content="<span class='label label-success'>Hoạt động</span>" value="false" <%- !user.is_block && 'selected' %>>Hoạt động</option>
                                        <option data-content="<span class='label label-danger'>Chặn</span>" value="true" <%- user.is_block && 'selected' %>>Chặn</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label class="form-label">Quyền</label>
                                    <select class="form-control selectpicker" name="role">
                                        <% roles.forEach(role => { %>
                                            <option value="<%- role.role_id %>" <%- user.role === role.role_id && 'selected' %>><%- role.name %></option>
                                        <% }) %>
                                    </select>
                                </div>
                                <button id="submitButton" type="submit" class="btn btn-default"><%- id? 'Cập nhật': 'Thêm' %></button>
                            </form>
            
                        </div>
                
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Content -->


<%- include('layouts/javascript') %> 

</body>
    
</html>