<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="Kode is a Premium Bootstrap Admin Template, It's responsive, clean coded and mobile friendly">
<meta name="keywords" content="bootstrap, admin, dashboard, flat admin template, responsive," />
<title>Admin - Bài review</title>

<!-- ========== Css Files ========== -->
<%- include('layouts/head') %> 
<link rel="stylesheet" href="/admin/css/image-upload.css">


</head>
<body>
    <!-- Start Page Loading -->
    <%- include('layouts/loading') %> 
    <!-- End Page Loading -->

    <!-- START TOP -->
    <%- include('layouts/header') %> 
    <!-- END TOP -->

    <!-- START SIDEBAR -->
    <%- include('layouts/sidebar') %> 
    <!-- END SIDEBAR -->
    
    <%- include('layouts/notification') %> 

    <!-- START CONTENT -->
    <div class="content">

        <!-- Start Page Header -->
        <div class="page-header">
            <h1 class="title">Tạo bài review</h1>
            <ol class="breadcrumb">
                <li><a href="/admin/dashboard">Trang chủ</a></li>
                <li class="active">Tạo bài review</li>
            </ol>

            <!-- Start Page Header Right Div -->
            <div class="right">
                <div class="btn-group" role="group" aria-label="...">
                    <a href="/admin/review" class="btn">Quay lại</a>
                </div>
            </div>
            <!-- End Page Header Right Div -->

        </div>
        <!-- End Page Header -->

        <div class="container-flush">
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default">

                        <div class="panel-title">
                            Thông tin bài review
                            <ul class="panel-tools">
                                <li><a class="icon expand-tool"><i class="fa fa-expand"></i></a></li>
                            </ul>
                        </div>
                
                        <div class="panel-body">
                            <form 
                                action="<%- id? '/admin/review/update' : '/admin/review/create' %>" 
                                method="post" 
                                enctype="multipart/form-data" id="writeReviewForm"
                            >
                                <input type="hidden" name="id" value="<%- id %>">
                                <div class="form-group">
                                    <label for="input1" class="form-label">Tiều đề bài viết</label>
                                    <input type="text" class="form-control" id="title" name="title" placeholder="Tiêu đề bài viết" value="<%- review.title %>" required>
                                </div>
                                <div class="form-group">
                                    <label class="form-label">Thể loại</label>
                                    <select class="form-control selectpicker" name="category" data-live-search="true">
                                        <% reviewCategories.forEach(category => { %>
                                            <option 
                                                value="<%- category._id %>" <%- review.category === category._id.toString() && 'selected' %>     
                                                data-content="<span class='label <%- category.tag_color %>'><%- category.name %></span>"
                                            ><%- category.name %></option>
                                        <% }) %>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label class="form-label">Tag</label>
                                    <select class="form-control selectpicker" name="tag" multiple data-live-search="true">
                                        <% tags.forEach(tag => { %>
                                            <option 
                                                value="<%- tag._id %>" <%- review.tag && review.tag.includes(tag._id.toString()) && 'selected' %> 
                                                data-content="<span class='label <%- tag.tag_color %>'><%- tag.name %></span>"
                                            ><%- tag.name %></option>
                                        <% }) %>
                                    </select>
                                </div>
                                
                                <div class="form-group">
                                    <label for="slug"  class="form-label">Slug</label>
                                    <input type="text" placeholder="ban-nen-ghi-lai-bai-review-theo-dinh-dang-nhu-the-nay" class="form-control" name="slug" id="slug" value="<%- review.slug %>">
                                </div>
                                
                                <div class="form-group">
                                    <label for="slug"  class="form-label">Tóm tắt</label>
                                    <textarea name="summary" placeholder="Tóm tắt" id=""class="form-control" rows="5"><%- review.summary %></textarea>
                                </div>
                                
                                <div class="form-group">
                                    <div class="checkbox checkbox-primary">
                                        <input id="is_schedule" type="checkbox" name="is_schedule">
                                        <label for="is_schedule">
                                            Kế hoạch ngày đăng bài
                                        </label>
                                    </div>
                                    
                                    <div class="input-prepend input-group scheduled">
                                        <span class="add-on input-group-addon"><i
                                                class="fa fa-calendar"></i></span>
                                        <input type="text" id="date-picker-with-time" name="created_at"
                                            class="form-control" placeholder="dd/mm/yyyy hh:mm" disabled/>
                                    </div>
                                </div>
                                
                                <p><i>Lưu ý: Để hình ảnh của bạn trong đẹp hơn, vui lòng đăng những ảnh theo kích thước dưới đây</i></p>
                                
                                <label class="form-label">Ảnh bài review</label>
                                <div class="row">
                                    <div class="col-md-12 form-it">
                                        <label>Ảnh</label>
                                        <div class="file-upload">
                                            <button class="file-upload-btn" type="button" onclick="$('.file-upload-input-1').trigger( 'click' )">Thêm ảnh</button>
                                          
                                            <div class="image-upload-wrap-1 imageUploadWrap">
                                              <input class="file-upload-input-1 fileUploadInput" type='file' onchange="readURL(this, '1');" accept="image/*" name="image"/>
                                              <div class="drag-text">
                                                <% if (review.image) { %>
                                                    <img class="fileUploadImage" src="<%- review.image %>" alt="your image" />
                                                <% } else { %>
                                                    <h4>Kéo ảnh hoặc chọn thêm ảnh vào đây (720 x 405)</h4>
                                                <% } %>
                                              </div>
                                            </div>
                                            <div class="file-upload-content-1 fileUploadContent">
                                              <img class="file-upload-image-1 fileUploadImage" src="<%- review.image %>" alt="your image" />
                                              <div class="image-title-wrap">
                                                <button type="button" onclick="removeUpload('1')" class="remove-image">Xóa <span class="image-title-1 imageTitle">Uploaded Image</span></button>
                                              </div>
                                            </div>
                                          </div>
                                    </div>
                                </div>
                                
                                <div class="form-group margin-t-20">
                                    <label class="form-label">Review</label>
                                    <textarea 
                                        class="form-control"
                                        name="content" 
                                        id="editor" 
                                        placeholder="Nhập bài review của bạn vào đây"
                                    >
                                        <%- review.content %>
                                    </textarea>
                                </div>
                                
                                <button id="submitButton" onclick="handleClick()" type="submit" class="btn btn-default"><%- id? 'Cập nhật': 'Đăng bài' %></button>
                            </form>
                            
                        </div>
                
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Content -->


<%- include('layouts/javascript') %> 

<script src="/admin/js/image-upload.js"></script>
<script type="application/javascript" src= "/tinymce/tinymce.min.js"></script>
<script>
    tinymce.init({
        selector: 'textarea#editor',
        height: 500,
        menubar: true,
        plugins: [
            'advlist autolink lists link image imagetools charmap print preview anchor',
            'searchreplace visualblocks code fullscreen',
            'insertdatetime media table paste code help wordcount toc'
        ],
        imagetools_toolbar: 'rotateleft rotateright | flipv fliph | editimage imageoptions',
        toolbar: 'undo redo | formatselect | ' +
        'bold italic backcolor | alignleft aligncenter ' +
        'alignright alignjustify | toc | bullist numlist outdent indent | ' +
        'removeformat | help',
        toc_depth: 3,
        content_style: 'body { font-family:Helvetica,Arial,sans-serif; font-size:14px }',
        content_css: '/stylesheets/tinymce-style.css',
        images_upload_handler: imageUploadHandler,
    });
    
    async function imageUploadHandler (blobInfo, success, failure, progress) {
        let data = new FormData();
        data.append('file', blobInfo.blob());
        
        try {
            const res = await axios.post('/admin/review/upload-image-texteditor', data, {
                enctype: 'multipart/form-data',
            });     
            
            success(res.data.location);
            
        } catch (error) {
            console.log(error)
            failure(error.response.data.message)
        }
    };
</script>

<script>
    $(document).ready(function() {
        $('#is_schedule').change(function() {
            if($(this).is(':checked')) {
                $("#date-picker-with-time").removeAttr('disabled');
            } else {
                $("#date-picker-with-time").attr('disabled', 'disabled');
            }
        })
    });
</script>

</body>
    
</html>