<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="Kode is a Premium Bootstrap Admin Template, It's responsive, clean coded and mobile friendly">
<meta name="keywords" content="bootstrap, admin, dashboard, flat admin template, responsive," />
<title>Trang chủ</title>

<!-- ========== Css Files ========== -->
<%- include('layouts/head') %> 
<link rel="stylesheet" href="/admin/css/dashboard.css">


</head>
<body>
    <!-- Start Page Loading -->
    <%- include('layouts/loading') %> 
    <!-- End Page Loading -->

    <!-- START TOP -->
    <%- include('layouts/header') %> 
    <!-- END TOP -->

    <!-- START SIDEBAR -->
    <%- include('layouts/sidebar') %> 
    <!-- END SIDEBAR -->
    
    <%- include('layouts/notification') %> 

    <!-- START CONTENT -->
    <div class="content">

        <!-- Start Page Header -->
        <div class="page-header">
            <h1 class="title">Trang chủ</h1>

            <!-- Start Page Header Right Div -->
            <div class="right">
            <div class="btn-group" role="group" aria-label="...">
                <a href="/admin/dashboard" class="btn btn-light">Dashboard</a>
                <a href="/admin/dashboard" class="btn btn-light"><i class="fa fa-refresh"></i></a>
            </div>
            </div>
            <!-- End Page Header Right Div -->

        </div>
        <!-- End Page Header -->

        <!-- START CONTAINER -->
        <div class="container-widget">

            <!-- Start Top Stats -->
            <div class="col-md-12">
                <ul class="topstats clearfix">
                    <li class="arrow"></li>
                    <li class="col-xs-6 col-lg-2">
                    <span class="title"><i class="fa fa-dot-circle-o"></i> Today Profit</span>
                    <h3>$36.45</h3>
                    <span class="diff"><b class="color-down"><i class="fa fa-caret-down"></i> 26%</b> from yesterday</span>
                    </li>
                    <li class="col-xs-6 col-lg-2">
                    <span class="title"><i class="fa fa-calendar-o"></i> This Week</span>
                    <h3>$96.25</h3>
                    <span class="diff"><b class="color-up"><i class="fa fa-caret-up"></i> 26%</b> from last week</span>
                    </li>
                    <li class="col-xs-6 col-lg-2">
                    <span class="title"><i class="fa fa-shopping-cart"></i> Total Sales</span>
                    <h3 class="color-up">696</h3>
                    <span class="diff"><b class="color-up"><i class="fa fa-caret-up"></i> 26%</b> from last month</span>
                    </li>
                    <li class="col-xs-6 col-lg-2">
                    <span class="title"><i class="fa fa-users"></i> Visitors</span>
                    <h3>960</h3>
                    <span class="diff"><b class="color-down"><i class="fa fa-caret-down"></i> 26%</b> from yesterday</span>
                    </li>
                    <li class="col-xs-6 col-lg-2">
                    <span class="title"><i class="fa fa-eye"></i> Page View</span>
                    <h3 class="color-up">46.230</h3>
                    <span class="diff"><b class="color-down"><i class="fa fa-caret-down"></i> 26%</b> from yesterday</span>
                    </li>
                    <li class="col-xs-6 col-lg-2">
                    <span class="title"><i class="fa fa-clock-o"></i> Avarage Time</span>
                    <h3 class="color-down">2:10<small>min</small></h3>
                    <span class="diff"><b class="color-up"><i class="fa fa-caret-up"></i> 26%</b> from last week</span>
                    </li>
                </ul>
            </div>
            <!-- End Top Stats -->


            <!-- Start First Row -->
            <div class="row">

                <!-- Start Files -->
                <div class="col-md-12 col-lg-12">
                <div class="panel panel-widget" style="height:450px;">
                    <div class="panel-title">
                    My Files <span class="label label-danger"><%- folders.length %></span>
                    <ul class="panel-tools">
                        <li><a onclick="window.history.back()" class="icon"><i class="fa fa-arrow-left"></i></a></li>
                        <li><a href="/admin/dashboard" class="icon"><i class="fa fa-refresh"></i></a></li>
                        <li><a href="" class="icon closed-tool"><i class="fa fa-times"></i></a></li>
                    </ul>
                    </div>
                    <div class="panel-body table-responsive">

                    <table class="table table-dic table-hover ">
                        <tbody>
                            <% folders.forEach(folder => { %>
                                <tr>
                                    <td>
                                        <a href="<%- folder.type === 'file'? folder.path: '/admin/dashboard'+link+'folder_name='+folder.name %>" target="<%- folder.type === 'file'? '_blank': '' %>">
                                            <i class="fa <%- folder.type === 'folder'? 'fa-folder-o': 'fa-file-image-o' %>"></i><%- folder.name %>
                                        </a>
                                    </td>
                                    <td><%- folder.type %></td>
                                    <td class="text-r">27/2/2015 12:34 AM</td>
                                </tr>     
                            <% }) %>
                        </tbody>
                        
                    </table>          
                    <%- include('layouts/pagination', {
                        data: folders,
                        pageLink: '/admin/dashboard'+link,
                    }) %>

                    </div>
                </div>
                </div>
                <!-- End Files -->

            </div>  
            <!-- End First Row -->

        </div>
        <!-- END CONTAINER -->

        <%- include('layouts/footer') %> 
        
    </div>
    <!-- End Content -->


<%- include('layouts/javascript') %> 

</body>
    
</html>