<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description"
        content="Trang admin quản lý bài review">
    <meta name="keywords" content="bootstrap, admin, dashboard, flat admin template, responsive," />
    <title>Admin - Quản Lý Bài Review</title>

    <!-- ========== Css Files ========== -->
    <%- include('layouts/head') %>


</head>

<body>
    <!-- Start Page Loading -->
    <%- include('layouts/loading') %>
    <!-- End Page Loading -->

    <!-- START TOP -->
    <%- include('layouts/header') %>
    <!-- END TOP -->

    <!-- START SIDEBAR -->
    <%- include('layouts/sidebar') %>
    <!-- END SIDEBAR -->

    <%- include('layouts/notification') %>

    <!-- START CONTENT -->
    <div class="content">

        <!-- Start Page Header -->
        <div class="page-header">
            <h1 class="title">Danh sách bài review</h1>

            <!-- Start Page Header Right Div -->
            <div class="right">
                <div class="btn-group" role="group" aria-label="...">
                    <a href="/admin/review/create" class="btn btn-light">Tạo bài mới</a>
                    <a href="/admin/review" class="btn btn-light"><i class="fa fa-refresh"></i></a>
                    <a href="#" class="btn btn-light"><i class="fa fa-search"></i></a>
                </div>
            </div>
            <!-- End Page Header Right Div -->

        </div>
        <!-- End Page Header -->

        <div class="container-flush">

            <div class="row">
                <div class="col-md-12 col-lg-12">
                    <div class="panel panel-default">

                        <div class="panel-title">
                            Tìm kiếm
                            <ul class="panel-tools">
                                <li><a class="icon minimise-tool"><i class="fa fa-minus"></i></a></li>
                                <li><a class="icon expand-tool"><i class="fa fa-expand"></i></a></li>
                                <!-- <li><a class="icon closed-tool"><i class="fa fa-times"></i></a></li> -->
                            </ul>
                        </div>

                        <div class="panel-body">
                            <form action="#" method="GET">
                                <div class="row">
                                    <div class="col-md-12 col-lg-12">
                                        <div class="form-group">
                                            <label for="input1" class="form-label">ID</label>
                                            <input type="text" placeholder="ID" name="_id" class="form-control"
                                                id="input1" value="<%- params._id %>">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12 col-lg-6">
                                        <div class="form-group">
                                            <label for="input1" class="form-label">Tiêu đề</label>
                                            <input type="text" placeholder="Tiêu đề" name="title" class="form-control"
                                                id="input1" value="<%- params.title %>">
                                        </div>
                                    </div>

                                    <div class="col-md-12 col-lg-6">
                                        <div class="form-group">
                                            <label class="form-label">Thể loại</label>
                                            <select class="form-control selectpicker" name="category" multiple
                                                data-live-search="true">
                                                <% reviewCategories.forEach(category => { %>
                                                <option value="<%- category._id %>"
                                                    <%- params.category && params.category.includes(category._id.toString()) && 'selected' %>
                                                    data-content="<span class='label <%- category.tag_color %>'><%- category.name %></span>"
                                                >
                                                    <%- category.name %></option>
                                                <% }) %>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="row">
                                    <div class="col-md-12 col-lg-6">
                                        <div class="form-group">
                                            <label class="form-label">Tag</label>
                                            <select class="form-control selectpicker" name="category" multiple
                                                data-live-search="true">
                                                <% reviewTags.forEach(tag => { %>
                                                <option value="<%- tag._id %>"
                                                    <%- params.tag && params.tag.includes(tag._id.toString()) && 'selected' %>
                                                    data-content="<span class='label <%- tag.tag_color %>'><%- tag.name %></span>"
                                                >
                                                    <%- tag.name %></option>
                                                <% }) %>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="col-md-12 col-lg-6">
                                        <div class="form-group">
                                            <label class="form-label">Trạng thái</label>
                                            <select class="form-control selectpicker" name="status">
                                                <option value="">Chưa chọn</option>
                                                <option value="is_hide" <%- params.status === 'is_hide' && 'selected' %>>Ẩn</option>
                                                <option value="is_not_hide" <%- params.status === 'is_not_hide' && 'selected' %>>Chưa ẩn</option>
                                                <option value="is_block" <%- params.status === 'is_not_block' && 'selected' %>>Chặn</option>
                                                <option value="is_not_block" <%- params.status === 'is_block' && 'selected' %>>Chưa chặn</option>
                                                <option value="is_confirm" <%- params.status === 'is_note_confirm' && 'selected' %>>Duyệt</option>
                                                <option value="is_not_confirm" <%- params.status === 'is_confirm' && 'selected' %>>Chưa duyệt</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-12 col-lg-6">
                                        <fieldset>
                                            <div class="control-group">
                                                <label for="input1" class="form-label">Từ ngày</label>
                                                <div class="controls">
                                                    <div class="input-prepend input-group">
                                                        <span class="add-on input-group-addon"><i
                                                                class="fa fa-calendar"></i></span>
                                                        <input type="text" id="date-picker" name="date_from"
                                                            class="form-control" placeholder="dd/mm/yyyy"
                                                            value="<%- params.date_from %>" />
                                                    </div>
                                                </div>
                                            </div>
                                        </fieldset>
                                    </div>

                                    <div class="col-md-12 col-lg-6">
                                        <fieldset>
                                            <div class="control-group">
                                                <label for="input1" class="form-label">Đến ngày</label>
                                                <div class="controls">
                                                    <div class="input-prepend input-group">
                                                        <span class="add-on input-group-addon"><i
                                                                class="fa fa-calendar"></i></span>
                                                        <input type="text" id="date-picker-2" name="date_to"
                                                            class="form-control" placeholder="dd/mm/yyyy"
                                                            value="<%- params.date_to %>" />
                                                    </div>
                                                </div>
                                            </div>
                                        </fieldset>
                                    </div>
                                </div>

                                <div class="button-container mt-20">
                                    <a href="/admin/review" class="btn">Hủy</a>
                                    <button type="submit" class="btn btn-default">Tìm kiếm</button>
                                </div>
                            </form>

                        </div>

                    </div>
                </div>
            </div>
            <div class="row">
                <!-- Start Panel -->
                <div class="col-md-12">
                    <div class="panel panel-default">

                        <div class="panel-title">
                            Danh sách <span class="label label-default"><%- totalReview %></span>
                        </div>

                        <div class="panel-body">

                            <div class="table-responsive">
                                <table class="table table-bordered table-striped">
                                    <thead>
                                        <tr>
                                            <td>ID</td>
                                            <td>Tiêu đề</td>
                                            <td>Slug</td>
                                            <td>Tác giả</td>
                                            <td>Tag</td>
                                            <td>Lượt ghé thăm</td>
                                            <td>Trạng thái</td>
                                            <td>Ngày đăng</td>
                                            <td>Chức năng</td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% reviewPage.data.forEach(review => { %>
                                        <tr>
                                            <td style="width: 150px;"><%- review._id %></td>
                                            <td><%- review.title %></td>
                                            <td><%- review.slug %></td>
                                            <td><%- review.reviewer && review.reviewer.profile.full_name %></td>
                                            <td style="width: 150px">
                                                <span
                                                    class="label <%- review.category.tag_color %>"><%- review.category.name %></span>
                                            </td>
                                            <td><%- review.visited %></td>
                                            <td>
                                                <span
                                                    class="label <%- review.is_confirm? 'label-success': 'label-warning' %>"><%- review.is_confirm? 'Đã duyệt': 'Chờ duyệt' %></span>
                                                <% if (review.is_schedule) { %>
                                                    <span class="label label-info">Kế hoạch</span>
                                                <% } %>
                                                <% if (review.is_hide) { %>
                                                    <span class="label label-danger">Đã ẩn</span>
                                                <% } %>
                                                
                                                <% if (review.is_block) { %>
                                                    <span class="label label-danger">Đã chặn</span>
                                                <% } %>
                                            </td>
                                            <td class="datetime <%- review._id %>" style="width: 125px;">
                                                <%- review.createdAt %></td>
                                            <td>
                                                <a href="/admin/review/create?id=<%- review._id %>"
                                                    class="view-icon margin-r-5"><i class="fa fa-eye"></i></a>
                                                <a onclick="confirmBeforeAction('<%- review._id %>', 'is_hide', 'Ẩn', 'Bạn có muốn ẩn bài review này không?')"
                                                    class="hide-icon margin-r-5"><i class="fa fa-ban"></i></a>
                                                <a onclick="confirmBeforeAction('<%- review._id %>', 'is_block', 'Chặn', 'Bạn có muốn chặn bài này không?')"
                                                    class="block-icon margin-r-5"><i class="fa fa-lock"></i></a>
                                                <a onclick="confirmBeforeAction('<%- review._id %>', 'is_confirm', 'Duyệt', 'Bạn có muốn duyệt bài này không?')"
                                                    class="confirm-icon margin-r-5"><i class="fa fa-check"></i></a>
                                                <a onclick="confirmBeforeDelete('<%- review._id %>')"
                                                    class="delete-icon margin-r-5"><i class="fa fa-times"></i></a>
                                            </td>
                                        </tr>
                                        <% }) %>
                                    </tbody>
                                </table>

                                <%- include('layouts/pagination', {
                                    data: reviewPage,
                                    pageLink: '/admin/review'+link,
                                }) %>
                            </div>
                        </div>

                    </div>
                </div>
                <!-- End Panel -->
            </div>
        </div>
    </div>
    <!-- End Content -->


    <%- include('layouts/javascript') %>

    <script>

        $(document).ready(function () {
            moment.locale('vi');

            let reviews = '<%- reviewPage.data.map(item => item._id) %>';

            reviews.split(',').forEach(review => {
                let time = $('.datetime.' + review).html();
                $('.datetime.' + review).text(moment(new Date(time)).format('lll'));
            })
        })

        async function confirmBeforeAction(id, type, title, message) {
            cuteAlert({
                type: "question",
                title,
                message, 
                confirmText: "Đồng ý",
                cancelText: "Hủy"
            }).then(async e => {
                if (e) {
                    fetch('/admin/review', {
                        method: 'PUT',
                        headers: {
                            'Content-Type': 'application/json',
                            // 'Accept': 'application/json',
                        },
                        body: JSON.stringify({ id, type })
                    })
                        .then(response => response.json())
                        .then(data => {
                            if (!data.error) {
                                cuteToast({
                                    type: "success", // or 'info', 'error', 'warning'
                                    message: data.message,
                                    timer: 5000
                                });
                                document.location.reload(true);
                            } else {
                                cuteToast({
                                    type: "error", // or 'info', 'error', 'warning'
                                    message: data.message,
                                    timer: 5000
                                });
                            }
                        })
                        .catch(err => {
                            cuteToast({
                                type: "error", // or 'info', 'error', 'warning'
                                message: data.message,
                                timer: 5000
                            });
                        });
                }
            })
        }

        async function confirmBeforeDelete(id) {
            cuteAlert({
                type: "question",
                title: "Xóa",
                message: "Bạn có muốn bài này không?",
                confirmText: "Đồng ý",
                cancelText: "Hủy"
            }).then(async e => {
                if (e) {
                    fetch('/admin/review', {
                        method: 'DELETE',
                        headers: {
                            'Content-Type': 'application/json',
                            // 'Accept': 'application/json',
                        },
                        body: JSON.stringify({ id })
                    })
                        .then(response => response.json())
                        .then(data => {
                            if (!data.error) {
                                cuteToast({
                                    type: "success", // or 'info', 'error', 'warning'
                                    message: data.message,
                                    timer: 5000
                                });
                                document.location.reload(true);
                            } else {
                                cuteToast({
                                    type: "error", // or 'info', 'error', 'warning'
                                    message: data.message,
                                    timer: 5000
                                });
                            }
                        })
                        .catch(err => {
                            cuteToast({
                                type: "error", // or 'info', 'error', 'warning'
                                message: data.message,
                                timer: 5000
                            });
                        });
                }
            })
        }
    </script>

</body>

</html>